[submodule "Lib/JSON"]
	path = Lib/JSON
	url = https://github.com/cocobelgica/AutoHotkey-JSON.git
[submodule "Lib/MCode4GCC"]
	path = Lib/MCode4GCC
	url = https://github.com/joedf/MCode4GCC.git
[submodule "Lib/AHKsock"]
	path = Lib/AHKsock
	url = https://github.com/jleb/AHKsock.git
[submodule "Lib/Eval"]
	path = Lib/Eval
	url = https://github.com/Pulover/Eval.git
